ENABLE_DEBUG=yes
ENABLE_OPTIMIZE=yes
PREFIX=$PWD/build
ENABLE_PKG_PATHS_DEFAULT=no

BASE=$HOME/packages/base_system
HAVE_PKG_ARBITRARY_QT=$BASE/extra_install
QT_ARBITRARY_MODULES="QtCore QtGui QtNetwork QtSql QtSvg QtXml QtXmlPatterns"
PKG_ARBITRARY_QT_CPPFLAGS="-I$BASE/extra_install/include -I$BASE/extra_install/include/QtCore -I$BASE/extra_install/include/QtGui -I$BASE/extra_install/include/QtNetwork -I$BASE/extra_install/include/QtSql -I$BASE/extra_install/include/QtSvg -I$BASE/extra_install/include/QtXml -I$BASE/extra_install/include/QtXmlPatterns"
MOC=$BASE/extra_install/bin/moc
HAVE_PKG_APPLE_QWT=no
HAVE_PKG_QWT=$BASE/extra_install
HAVE_PKG_BOOST=$BASE
HAVE_PKG_PROTOBUF=$BASE
PROTOC=$BASE/bin/protoc
HAVE_PKG_TNT=$BASE/extra_install
HAVE_PKG_JAMA=$BASE/extra_install
HAVE_PKG_XERCESC=$BASE/extra_install
HAVE_PKG_SPICE=$BASE/extra_install
HAVE_PKG_GEOS=$BASE/extra_install
HAVE_PKG_GSL=$BASE/extra_install
HAVE_PKG_SUPERLU=$BASE/extra_install
HAVE_PKG_GMM=$BASE/extra_install
HAVE_PKG_TIFF=$BASE/extra_install
HAVE_PKG_Z=$BASE/extra_install
HAVE_PKG_JPEG=$BASE/extra_install
HAVE_PKG_SUITESPARSE=$BASE/extra_install
HAVE_PKG_AMD=$BASE/extra_install
HAVE_PKG_COLAMD=$BASE/extra_install
HAVE_PKG_CHOLMOD=$BASE/extra_install
